.offences-table {
  flex: 100%;
  margin: 0 auto;
}

.offences-table th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

.offences-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.offences-table th {
  background-color: rgb(0, 126, 177);
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}
